/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BODY */

body{
  background-color: #16110f;
  color: #f3e7d9;
  font-family: 'Poppins', sans-serif;
}


/* NAVBAR */

.navbar{
  width: 100%;
  padding: 25px 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  z-index: 10;
}

.logo{
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #d8b07a;
}

nav{
  display: flex;
  gap: 35px;
}

nav a{
  color: #f3e7d9;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}

nav a:hover{
  color: #d8b07a;
}


/* HERO */

.hero{
  width: 100%;
  min-height: 100vh;

  background-image:
    linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.35)),
    /* url('../img/hero.jpeg'); */
    url('../img/hero3.png');

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding: 0 8%;

  position: relative;
}

.hero-content{
  max-width: 650px;
  z-index: 2;
}

.tag{
  display: inline-block;

  margin-bottom: 20px;
  padding: 8px 18px;

  border: 1px solid rgba(255,255,255,0.2);

  background-color: rgba(255,255,255,0.05);

  color: #d8b07a;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.hero h1{
  font-size: 5rem;
  line-height: 90px;

  font-family: 'Playfair Display', serif;

  margin-bottom: 30px;
}

.hero p{
  font-size: 1rem;
  line-height: 1.8;

  max-width: 520px;

  color: #d6c8bb;

  margin-bottom: 35px;
}


/* BOTÕES */

.buttons{
  display: flex;
  gap: 15px;
}

button{
  padding: 14px 28px;

  border: none;

  cursor: pointer;

  font-family: 'Poppins', sans-serif;

  transition: 0.3s;
}

.primary-btn{
  background-color: #6d2e2e;
  color: white;
}

.primary-btn:hover{
  background-color: #8b3c3c;
}

.secondary-btn{
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.2);

  color: #f3e7d9;
}

.secondary-btn:hover{
  border-color: #d8b07a;
  color: #d8b07a;
}


/* ABOUT */

.about{
  background-color: #e7d8c7;

  color: #2a1d18;

  padding: 120px 8%;
}

.section-title span{
  color: #6d2e2e;

  text-transform: uppercase;
  letter-spacing: 2px;

  font-size: 0.8rem;
}

.section-title h2{
  font-size: 3rem;

  margin-top: 15px;

  font-family: 'Playfair Display', serif;
}

.about-grid{
  margin-top: 70px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 60px;

  align-items: center;
}

.about-text{
  column-count: 2;
  column-gap: 35px;

  line-height: 2;
}

.about-image img{
  width: 100%;

  border-radius: 4px;

  filter: contrast(105%);
}

/* =========================
   VIDEO SECTION
========================= */

.video-section{

  background-color: #16110f;

  padding: 120px 8%;

  display: grid;
  grid-template-columns: 1fr 1.2fr;

  gap: 70px;

  align-items: center;
}


.video-text h2{

  font-size: 3.5rem;

  font-family: 'Playfair Display', serif;

  line-height: 1.2;

  margin: 20px 0 30px;
}


.video-text p{

  color: #d6c8bb;

  line-height: 2;

  max-width: 500px;
}


.section-tag{

  color: #d8b07a;

  text-transform: uppercase;

  letter-spacing: 2px;

  font-size: 0.8rem;
}


/* VIDEO */

.video-wrapper{

  position: relative;
}


.video-container{

  position: relative;

  width: 100%;

  padding-bottom: 56.25%;

  overflow: hidden;

  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 20px 60px rgba(0,0,0,0.45);

  background-color: #000;
}


.video-container iframe{

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}


/* DETALHE ESTÉTICO */

.video-wrapper::before{

  content: "";

  position: absolute;

  width: 120px;
  height: 120px;

  border-top: 2px solid #6d2e2e;
  border-left: 2px solid #6d2e2e;

  top: -20px;
  left: -20px;

  opacity: 0.5;
}


.video-wrapper::after{

  content: "";

  position: absolute;

  width: 120px;
  height: 120px;

  border-bottom: 2px solid #6d2e2e;
  border-right: 2px solid #6d2e2e;

  bottom: -20px;
  right: -20px;

  opacity: 0.5;
}


/* =========================
   SPORTS SECTION
========================= */

.sports-section{

  background-color: #bbb0a4;

  color: #2a1d18;

  padding: 120px 8%;

  overflow: hidden;
}


/* HEADER */

.sports-header{

  margin-bottom: 60px;
}


.sports-header h2{

  font-size: 3rem;

  font-family: 'Playfair Display', serif;

  margin: 20px 0;
}


.sports-header p{

  max-width: 600px;

  line-height: 2;

  color: #4d3a30;
}


/* CARROSSEL */

.sports-carousel{

  display: flex;

  gap: 30px;

  overflow-x: auto;

  scroll-snap-type: x mandatory;

  padding-bottom: 10px;
  align-items: stretch;
}


/* SCROLL PERSONALIZADO */

.sports-carousel::-webkit-scrollbar{

  height: 8px;
}


.sports-carousel::-webkit-scrollbar-track{

  background: rgba(0,0,0,0.08);
}


.sports-carousel::-webkit-scrollbar-thumb{

  background: #6d2e2e;
}


/* CARD */

.sport-card{

    min-width: 360px;
    max-width: 600px;

    background-color: #f3e7d9;

    border: 1px solid rgba(0,0,0,0.08);

    overflow: hidden;

    scroll-snap-align: start;

    transition: 0.4s;

    box-shadow:
        0 15px 40px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;

    flex-shrink: 0;
}


.sport-card:hover{

  transform: translateY(-8px);
}


/* IMAGEM */

.sport-image{

  width: 100%;
  height: 260px;

  overflow: hidden;
}


.sport-image img{

  width: 100%;
  height: 100%;

  object-fit: cover;

  object-position: left center;
  transition: 0.5s;
}


.sport-card:hover img{

  transform: scale(1.05);
}


/* CONTEÚDO */

.sport-content{

  padding: 30px;
  display: flex;
  flex-direction: column;

  flex: 1;
}


.sport-category{

  font-size: 0.75rem;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: #6d2e2e;
}


.sport-content h3{

  font-size: 2rem;

  font-family: 'Playfair Display', serif;

  margin: 15px 0 20px;
}


.sport-content p{

  line-height: 1.9;

  color: #4d3a30;

  margin-bottom: 30px;
}


/* BOTÃO */

.sport-content button{

  background-color: transparent;

  border: 1px solid rgba(0,0,0,0.15);

  padding: 12px 24px;

  color: #2a1d18;

  cursor: pointer;

  transition: 0.3s;
  margin-top: auto;
}


.sport-content button:hover{

  background-color: #6d2e2e;

  color: white;

  border-color: #6d2e2e;
}

/* RESPONSIVO */

@media(max-width: 900px){

  nav{
    display: none;
  }

  .hero h1{
    font-size: 3.5rem;
    line-height: 65px;
  }

.hero{

    background-position: 40% center;

  }


  .buttons{
    flex-direction: column;
    width: 100%;
  }

  button{
    width: 100%;
  }

  .about-grid{
    grid-template-columns: 1fr;
  }

  .about-text{
    column-count: 1;
  }

  .section-title h2{
    font-size: 2.2rem;
  }

   .video-section{

    grid-template-columns: 1fr;

    padding: 90px 8%;
  }


  .video-text h2{

    font-size: 2.4rem;
  }


  .video-wrapper::before,
  .video-wrapper::after{

    display: none;
  }

  .sports-header h2{

    font-size: 2.3rem;
  }


  .sport-card{

    min-width: 55%;
    max-width: 90%;
  }
}